//Colors
$color-lightgreen: #7ed56f;
$color-Mediumgreen: #55c57a;
$color-Darkgreen: #28b485;
$color-greyDark: #777;
$color-greyDark-2: #999;
$color-white: #ffff;
$color-black: #000;
$color-grey-light-1: #f7f7f7;
$color-card-orange: #ffb900;
$color-card-orange2: #5e4407;
$color-card-blue: #2998ff;
$color-card-blue2: #5643fa;
$color-bg-footer: #2e2d2e;
//Grid
$width-grid: 144rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//Fonts
$default-fontSize: 1.6rem;
